li {
  position: relative;

  .mapNumber {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 1rem;
    width: 1rem;
    margin: 0;
    padding: 1em;
    color: white;
    background-color: #C92965;
    border-top-left-radius: 5%;
    border-bottom-right-radius: 20%;
    display: flex;
    justify-content: center;

    p {
      align-self: center;
      margin: 0;
      padding: 0;
    }
  }

  .gardenPicture {
    width: 100%;
    max-height: 25vh;
    overflow: hidden;

    img {
      object-fit: cover;
    }
  }

  a>p {
    width: 100%;
    text-align: right;
  }
}