.gardenVideo {
  background-color: black;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.gardenDesc {
  padding: 1em;
}

.carousel .slide {
  max-height: 50vh;
}

.plantsbyLocation {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  a {
    font-size: small;
    text-decoration: none;
  }
}
