nav {
  border-top: 1px solid darkgrey;
  background-color: rgb(251, 251, 251);
  position: fixed;
  bottom: 0;
  z-index: 3;
  width: 100vw;

  div {
    display: flex;
    justify-content: space-around;
    background-color: rgb(247, 247, 247);

    a {
      font-size: .55em;
      font-family: Arial;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #ff6200;
      text-decoration: none;
      padding: min(10px, 1vh);

      svg {
        font-size: 1.75rem;
      }

      &:hover {
        color: hsl(130, 74%, 25%);
      }
    }

  }


}