nav {
  border-top: 1px solid darkgrey;
  background-color: rgb(251, 251, 251);
  position: fixed;
  bottom: 0;
  z-index: 3;
  width: 100vw;

  div {
    display: flex;
    width: 100%;

    justify-content: space-around;
    text-align: right;
    background-color: rgb(251, 251, 251);


    a {
      font-size: .55em;
      font-family: Arial;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #F17B30;
      border-radius: .5em;
      margin: 1vh;
      min-width: 75px;
      text-decoration: none;
      padding: min(10px, 1vh);

      svg {
        font-size: 2em;
      }

      &:hover {
        color: hsl(130, 74%, 25%);
      }
    }

  }


}