nav {
  border-top: 1px solid darkgrey;
  position: fixed;
  bottom: 0;
  z-index: 3;
  width: 100vw;
  padding-bottom: 1.25vh;
  background-color: rgb(247, 247, 247);
  border: none;


  div {
    display: flex;
    justify-content: space-around;

    a {
      font-size: 0.55em;
      font-family: Arial;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #c92965;
      text-decoration: none;
      padding: min(10px, 1vh);

      svg {
        font-size: 1.75rem;
      }

      &:hover {
        color: hsl(124, 60%, 15%);
      }
    }
  }
}

@media screen and (min-width: 768px) {

  nav {
    border: none;
    position: relative;
    padding: 0;
    padding-bottom: 0;


    div {
    border: none;
    background-color: transparent;
    justify-content: flex-end;
    gap: 3em;
    padding-right: 2em;
    
    a {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }
    }
  }


}
