.react-tabs__tab-list {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  color: #c92965;
}

.react-tabs__tab:hover {
  color: hsl(124, 60%, 15%);
}

.react-tabs__tab--selected {
  color: #c92965;
}

.react-tabs__tab-panel--selected {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.tabs_panels {
  overflow: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  img {
    width: clamp(300px, 40%, 500px);
    margin: 1rem;
  }

  p {
    text-align: left;
    margin: 1rem;
  }
}

.tab {

    div {
        margin: 10px;
    }
}

@media screen and (min-width: 768px) {

    .react-tabs__tab--selected {
        background-color: #ebfff7bd;
      }


    .tab {
        width: 55vw;


        div {
        
            border-radius: 2px;
            margin: 10px;

            h1, h2{
                color: #c92965;
            }
        }
    }
}
