.sectionTour{
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.css-15tf7he {
}


.css-1nrl0ya{
  align-self: center;
  max-width: 99vw;
  
img {
  max-width: 100%;
}
}


.css-15tf7he {
  padding-bottom: 40px;
  font-size: .8em;

}



@media screen and (min-width: 767px) {
  .sectionTour {

    .tab {
      display: flex;
      flex-direction: column;
      justify-content: center;
      
    div {
      display: inline-block;
      flex-direction: column;
    }

    div > img {
      // max-width: 250px;
      float: left;
    }

    }



  }

  .css-1nrl0ya{
    max-width: 75vw;
  img {
    max-width: 100%;
  }
  }


}