.garden {}



.gardens .highlights li a .picture {
  width: 100%;
  max-height: 25vh;
  overflow: hidden;

  img {
    object-fit: cover;
  }
}

li {
  position: relative;


  .mapNumber {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: calc(1em);
    width: calc(1em);
    margin: 0em;
    padding: 1em;
    color: white;
    background-color: #C92965;
    border-top-left-radius: 0%;
    border-bottom-right-radius: 20%;

    display: flex;
    justify-content: center;

    p {
      align-self: center;
      margin: 0;
      padding: 0;
    }
  }
}