.plant {
  background-color: ghostwhite;
  height: 100%;

  .plantName {

    & div {
      text-transform: capitalize;
    }

    text-align: center;
    color: white;
    background-color: #C92965;
    padding: 1em;
    font-size: 1.15em;
    font-weight: 500;
  }

  p {
    color: #422D27;
    letter-spacing: initial;
    line-height: 1.25;
    margin: 1em;
    font-size: .85em;
    word-wrap: break-word;
    white-space: pre-wrap;
  }

}